#Ignore the build dir#
######################
**/build

#other folders to ignore#
######################
**/log
**/out
**/err
**/results
**/results_single/*.root
**/macros
**/plots
**/submit_jobs/singleout.mac
*.root
*.orig
*leap_sims
/analyse
